* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    background-image: url('Image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background: #333;
    color: #18e711;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    color: #1ceeeeb9;
}

.navbar {
    display: flex;
    justify-content: center;
    background: #bfc933;
    padding: 15px;
    border-radius: 10px;
}

.navbar ul {
    display: flex;
    gap: 15px;
}

.navbar li {
    padding: 10px 20px;
    background-color: lightgreen;
    border-radius: 5px;
    font-weight: bold;
    color: #28a6f0;
    text-align: center;
    min-width: 100px;
    transition: 0.3s;
}

.navbar li:hover {
    background-color: lawngreen;
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: #eff30c;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* This is adjust the display of the webpage when it is resized */
@media (max-width: 720px){

    .navbar{
        height: auto;
        flex-direction: column;
    }

    .navbar ul{
        flex-direction: column;
        text-align: center;
    }

    .navbar ul li{
        margin-bottom: 5px;
    }
}
